# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Firebase build output
/.firebase/

# Production build
/build

# Misc
.DS_Store
*.pem

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.next/cache/webpack/server-production/0.pack
.next/cache/webpack/client-production/0.pack
.firebase/bridgescore-app/functions/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
.firebase/bridgescore-app/functions/node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
